body {
  background-color: #E9EAD8;
}

title {
  color: grey;
  font-size: 18px;
}

.prevention {
  padding: 90px;
}

#m1-img {
  height: 150px;
  width: 150px;
}

.card {
  width: 400px;
  height: 300px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
}

.card-profile {
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: white;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card .card-body p {
  margin: 5px;
}

.prevention-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.prevention-cont div {
  margin: 20px;
}

@media screen and (max-width: 768px) {
  #m1-img {
    height: 100px;
    width: 100px;
  }
  .card {
    width: 300px;
  }
  .prevention-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-area {
    padding: 30px 16px;
    color: #f1f1f1;
    width: 100%;
    z-index: 9999999;
    height: 87px;
    background: #ed242e;
}

.container {
    max-width: 1170px;
}


@media (max-width: 1199px) and (min-width: 992px)
.site-navbar ul li {
    padding-right: 22px;
}
@media (min-width: 992px)
.offset-lg-1 {
    margin-left: 8.333333%;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.site-navbar ul.active {
    color: #00132b;
}
.site-navbar ul li a {
    color: #fef6fc;
    font-size: 17px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.site-navbar ul li a  {
    color: #fef6fc;
    font-size: 17px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.hover:hover {
  background-color: black;
  opacity: 0.7;
}

.responsive{display:block;overflow-x:auto}

.row{margin-right:-15px;margin-left:-15px}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}

